


.sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 5px;
        height: 3px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--default);
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
}
.dashboard {
    overflow-y: scroll;
    overflow-x: hidden;
}

.username p {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.container {
    width: 95%;
    height: 100%;
    // background-color: aqua;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6755077030812324) 35%, rgba(0,212,255,1) 100%);
}

.user-img {
    width: 34px;
}