<div class="main-container d-flex flex" style="height: 100vh;">
  <div class="sidebar h-full" style="width: 18%; height: 100%;"> 
    <app-sidebar></app-sidebar>
  </div>  
  <div class="dashboard" style="width: 82%; height: 100%;">
      <div class="navbar d-flex justify-content-center" style="height: 12%; width: 100%;">
        <div class="container d-flex">
          <div class="route-title d-flex  justify-content-start align-items-center" style="width: 70%;  height: 100%;">
              <h6 class="text-white">DASHBOARD</h6>
          </div>
          <div class="user-profile d-flex  justify-content-end align-items-center " style="width: 30%;  height: 100%;">
              <div class="d-flex align-items-center justify-content-between">
                <img src="assets/img/theme/user.png" class="rounded-circle" style="width: 34px; height: 34px;"/>
                <div class="username pt-3 mx-2 " style="height: 100%;">
                  <div (click)="pDropdown()" style="cursor: pointer;">
                    <p>Tolulope Ajao</p>
                    <div *ngIf="userDetails">
                      <p>{{userDetails.firstname}} {{userDetails.lastname}}</p>
                    </div>
                  </div>
                  <div class="profile-dropdown" *ngIf="showDropdown">
                    <div class="cont1">
                      <div class="cont">
                        <div class="my-profile">
                    
                            <h1>Welcome!!</h1>
                          
                          <span class="flex">
                            <span class="icon">
                              <i class="fa-solid fa-user"></i>
                            </span>
                            <span class="text">
                              <span class="p">My Profile</span>
                            </span>
                          </span>
                       
                        </div>
                        <div class="logout"  (click)="logout()">    
                          <span class="flex">
                            <span class="icon">
                              <i class="fa-solid fa-person-running"></i>
                            </span>
                            <span class="text">
                              <span class="p">Log out</span>
                            </span>
                          </span>
                        </div>
                        <div class="change-p">
                          <span class="flex">
                            <span class="icon">
                              <i class="fa-solid fa-lock"></i>
                            </span>
                            <span class="text">
                              <span class="p">Change Password</span>
                            </span>
                          </span>
                        </div>    
                      </div>
                    </div>
                  </div>
                 
                </div> 
              </div>
          </div>
        </div>
      </div>
      <!-- < Dashboard dynamic content  -->
      <div class="main-content" style="height:90%">
          <router-outlet></router-outlet>
      </div>
      <!-- <div class="footer bg-danger" style="height: 2%;">
        <app-footer></app-footer>
      </div> -->
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
