<div class="main-container">
    <div class="header">
        <div class="view-admin-grid">
            <div class="container">
                <div class="card">
                    <div class="grid-header">
                        <div class="title">
                            <h6>Schedules</h6>
                        </div>
                        <div class="search">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search">         
                            </span>
                        </div>
                        <div class="export">
                            <button class="button" type="submit" label="submit">
                                Export
                             </button>
                        </div>
                    </div> 
                    <div>
                    <p-table
                        [value]="view_schedule"
                        [paginator]="true"
                        [rows]="6"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '60rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <th style="width:2%"> ID </th>
                                <th style="width:5%">TITLE </th>
                                <th style="width:15%">DESCRIPTION</th>
                                <th style="width:5%">SCHEDULE DATE</th>
                                <th style="width:5%">TARGET </th>			
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-view_schedule>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                                <td>{{ view_schedule.id }}</td>
                                <td>{{ view_schedule.title }}</td>
                                <td>{{ view_schedule.description }}</td>
                                <td>{{ view_schedule.schedule_date }}</td>
                                <td>{{ view_schedule.target }}</td>
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
                    </div>
                </div>
            </div>    
        </div>
    </div>
       
    <div class="footer"></div>
</div>