<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
</app-vr-alert>
<div class="main-container">
    <div class="header">
        <form class="add-partners-form" [formGroup]="addPartners">
            <div class="card-1">
                <div class="card-title">
                    <h5>Add Partner</h5>
                </div>
                <div class="card-body">
                    <!-- <form [formGroup]="addPartners" (ngSubmit)="onSubmit()"> -->
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="name">Organisation Name*</label>
                                </div>
                                <app-vr-input pInputText [control]="firstname" type="text" name="firstname" id="firstname" placeholder="Organisation Name" ></app-vr-input>
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="lastname">Contact Person*</label>
                                </div>
                                <app-vr-input pInputText [control]="lastname" type="text" name="lastname" id="lastname" placeholder="Contact Person" ></app-vr-input>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="city">City*</label>
                                </div>
                                <select id="city" name="city" formControlName="city">
                                    <option *ngFor="let option of cities" [value]="option.name">{{ option.name }}</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="phone">Phone Number*</label>
                                </div>
                                <app-vr-input pInputText [control]="phone_no" type="text" name="phone_no" id="phone_no" placeholder="Phone number" ></app-vr-input>
                            
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="password">Email*</label>
                                </div>
                                <app-vr-input pInputText [control]="email" type="text" name="email" id="email" placeholder="Email" ></app-vr-input>
                                
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="password">Password*</label>
                                </div>
                                <app-vr-input pInputText [control]="password" type="text" name="password" id="password" placeholder="Password" ></app-vr-input>
                                
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="password">Supervisor Reference *</label>
                                </div>
                                <app-vr-input pInputText [control]="supervisor" type="text" name="supervisor" id="password" placeholder="Super Reference" ></app-vr-input> 
                            </div>
                        </div>
                        <div class="card-input">
                            <!-- <div class="form-group">
                                <div>
                                    <label htmlFor="city">Vehicle Type*</label>
                                </div>
                                <p-dropdown formControlName="city" [options]="cities" optionLabel="name" class="dropdown" placeholder="Select a Vehicle Type"></p-dropdown>
                            
                            </div> -->
                        </div>
                    </div>
                    
                    <!-- <div class="btn"> -->
                    
                    <!-- </div> -->
                <!-- </form> -->
                </div>
            </div>
            <div class="card-1">
                <div class="card-title">
                    <h5>Add Bank Details</h5>
                </div>
                <div class="card-body">
                    <!-- <form [formGroup]="addPartners" (ngSubmit)="onSubmit()"> -->
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="holder_name">Account Holder Name*</label>
                                </div>
                                <app-vr-input pInputText [control]="holder_name" type="text" name="holder_name" id="holder_name" placeholder="Account Holder Name" ></app-vr-input>
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="account_number">Account Number*</label>
                                </div>
                                <app-vr-input pInputText [control]="account_number" type="text" name="account_number" id="account_number" placeholder="Account Number" ></app-vr-input>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="bank_name">Name of Bank*</label>
                                </div>
                                <app-vr-input pInputText [control]="bank_name" type="text" name="bank_name" id="lastname" placeholder="Name of Bank" ></app-vr-input>
                                
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="location">Bank Location*</label>
                                </div>
                                <app-vr-input pInputText [control]="location" type="text" name="location" id="phone_no" placeholder="Bank Location" ></app-vr-input>
                            
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="payment_email">Payment Email*</label>
                                </div>
                                <app-vr-input pInputText [control]="payment_email" type="text" name="email" id="email" placeholder="Payment Email" ></app-vr-input>
                                
                            </div>
                        </div>
                        <div class="card-input">
                            <div class="form-group">
                                <div>
                                    <label htmlFor="IFSC_code">Bank Sort Code*</label>
                                </div>
                                <app-vr-input pInputText [control]="IFSC_code" type="text" name="IFSC_code" id="IFSC_code" placeholder="Bank Sort Code" ></app-vr-input>
                                
                            </div>
                        </div>
                    </div> 
                    <div class="button_container">
                        <button type="submit" label="submit" class="button btn-primary" 
                        (click)="onSubmit()"
                         [disabled]="firstname.invalid || lastname.invalid
                         || city.invalid || phone_no.invalid || email.invalid
                         || password.invalid || supervisor.invalid || holder_name.invalid || account_number.invalid ||
                        bank_name.invalid || location.invalid || payment_email.invalid || IFSC_code.invalid"

        
                        >
                            Add 
                        </button>
                        <button type="submit" label="submit" class="button btn-secondary" 
                        (click)="reset()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <!-- <div class="card-1">
            <div class="card-title">
                <h5>Add Bank Details</h5>
            </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="name">Account Holder Name*</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="Account Holder Name"  />
                           
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="lastname">Account Number*</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="Account Number"  />
                           
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="phone">Name of Bank*</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="Name of Bank"  />
                           
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="phone">Bank Location*</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="Bank Location"  />
                         
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="password">Payment Email*</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="Payment Email"  />
                           
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="password">Bank Sort Code*</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="Bank Sort Code"  />
                        
                        </div>
                    </div>
                </div>
                <div class="button_container">
                    <button type="submit" label="submit">
                        Add 
                    </button>
                    <button type="submit" label="submit" class="button">
                        Cancel
                    </button>
                </div>
                 
        </div> -->
    </div>
    <div class="footer"></div>

</div>