<div class="main-container">
    <div class="header">
        <div class="view-admin-grid">
            <div class="container">
                <div class="card">
                    <div class="grid-header">
                        <div class="title">
                            <h6>Partners</h6>
                        </div>
                        <div class="search">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search">         
                            </span>
                        </div>
                        <div class="export">
                            <button class="button" type="submit" label="submit">
                                Export
                             </button>
                        </div>
                    </div> 
                    <div>
                    <app-loader *ngIf="showLoader"></app-loader>
                    <p-table *ngIf="!showLoader"
                        [value]="partners"
                        [paginator]="true"
                        [rows]="6"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <th style="width:5%">ORGANIZATION NAME </th>
                                <th style="width:10%">CONTACT PERSON </th>
                                <th style="width:5%">EMAIL</th>
                                <th style="width:5%">PHONE NUMBER </th>
                                <th style="width:5%">REFERRAL CODE </th>
                                <th style="width:5%">ACTION</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-partners>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                                <td>{{partners.firstname}}</td>
                                <td>{{partners.lastname}}</td>
                                <td>{{partners.email}}</td>
                                <td>{{partners.phone_no}}</td>
                                <td>{{partners.ref_code}}</td>
                                <td>
                                    <!-- <div *ngIf="partners.isEditable"> -->
                                        <i class="fa-solid fa-pencil"></i>
                                    <!-- </div>   -->
                                </td>
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
                    </div>
                </div>
            </div>    
        </div>
    </div>
       
    <div class="footer"></div>
</div>