<div class="main-container">
    <div class="header">
        <div class="add-admin-form">
           <div class="card">
            <div class="card-title">
                <h5>Add Admin</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="username">Username</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="first name"  />
                            <!-- <input type="text" id="name" formControlName="name" placeholder="First name"> -->
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="username">Username</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="first name"  />
                            <!-- <input type="text" id="name" formControlName="name" placeholder="First name"> -->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="username">Username</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="first name"  />
                            <!-- <input type="text" id="name" formControlName="name" placeholder="First name"> -->
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="username">Username</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="first name"  />
                            <!-- <input type="text" id="name" formControlName="name" placeholder="First name"> -->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="username">Username</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="first name"  />
                            <!-- <input type="text" id="name" formControlName="name" placeholder="First name"> -->
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="username">Username</label>
                            </div>
                            <input pInputText pKeyFilter="int" placeholder="first name"  />
                            <!-- <input type="text" id="name" formControlName="name" placeholder="First name"> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="btn"> -->
                    <button type="submit" label="submit">
                       Add 
                    </button>
                    <button type="submit" label="submit" class="button">
                       Cancel
                    </button>
                <!-- </div> -->
              </form>
            </div>
           </div>
        </div>
    </div>
    <div class="footer"></div>

</div>