<app-vr-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMsg }}
  </app-vr-alert>
<div class="main-container">
    <div class="header">
        <div class="add-admin-form">
           <div class="card">
            <div class="card-title">
                <h5>Add Admin</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="fistname">First Name*</label>
                            </div>
                             <app-vr-input pInputText [control]="firstname" type="text" placeholder="First Name" ></app-vr-input> 
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="lastname">Last Name*</label>
                            </div>
                             <app-vr-input pInputText [control]="lastname" type="text" placeholder="Last Name" ></app-vr-input> 
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="email">Email Address*</label>
                            </div>
                            <app-vr-input pInputText [control]="email" type="email" placeholder="Email " ></app-vr-input> 
                        
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="phone">Phone Number*</label>
                            </div>
                            <app-vr-input pInputText pKeyFilter="int" [control]="phone_no" placeholder="Phone" format="(000)000-0000"
                              />
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="password">Password*</label>
                            </div>
                            <app-vr-input pInputText pKeyFilter="int" [control]="password" placeholder="Password"
                            />   
                        </div>
                    </div>
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="city">Service Available City*</label>
                            </div>
                            <app-vr-input pInputText [control]="city" type="text" placeholder="Enter city" ></app-vr-input> 
                            <!-- <p-dropdown formControlName="city" [options]="cities" optionLabel="name" class="dropdown"></p-dropdown> -->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card-input">
                        <div class="form-group">
                            <div>
                                <label htmlFor="city">Admin Type*</label>
                            </div>
                            <app-vr-input pInputText [control]="user_type" type="text" placeholder="Admin Type" ></app-vr-input> 
                            <!-- <p-dropdown formControlName="user_type" [options]="userType" optionLabel="type" class="dropdown"></p-dropdown> -->
                        </div>
                    </div>
                </div>

                <!-- <div class="btn"> -->
                    <button type="submit" label="submit"  class="button btn-primary my-4"
                    (click)="submit()">
                       Add 
                    </button>
                    <button type="submit" label="submit" class="button" (click)="reset()">
                       Cancel
                    </button>
                <!-- </div> -->
              </form>
            </div>
           </div>
        </div>
    </div>
    <div class="footer"></div>

</div>