.main-container {
    height: 100vh;
    width: 100%;
}
.header {
    height: 30%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6755077030812324) 35%, rgba(0,212,255,1) 100%);
}

.footer {
    height: 70%;
    background-color: #F3F5FB;
}

.add-admin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
}

.card {
    width: 90%;
    height: 80%;
    padding: 40px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
.card-input {
    width: 50%;
}
label {
    color: rgb(199, 197, 197);
    font-weight: 600;
}
input {
    width: 95%;
    height: 50px;
    padding: 10px;
}
.btn {
   width: 50%;
   height: 100%;
}
button {
    padding: 10px;
    width: 10%;
    border-radius: 10px;
    margin: 10px;
    background-color: #219cdb;
    color: white;
    font-weight: 600;
    border-color: transparent;
}
.button {
    padding: 10px;
    width: 12%;
    border-radius: 10px;
    margin: 10px;
    background-color: #525252;
    color: white;
    font-weight: 600;
    border-color: transparent;
}

.dropdown {
    width: 95%;
    height: 50px;
    padding: 10px;
}

