<div class="main-container">
    <!-- logo -->
    <div class="logo">
       <a [hidden]="false" [routerLink]="['/']">
          <img src="./assets/img/brand/Logo.png" class="navbar-brand-img" alt="..." style="width: 150px;">
       </a>
    </div>
    <!-- nav -->
    <div class="navbar-area">
       <div style="width:100%">
             <div *ngFor="let routeInfo of ROUTES; let i = index">
                <div class="dash-container">
                      <div class="container" (click)="toggleCarretDown(i)">  
                            <div class="icon ">
                              <a [hidden]="false" [routerLink]="routeInfo.path">
                               <i class="{{routeInfo.icon}} text-primary"></i>
                              </a>
                            </div>
                            <div class="navlink">
                               <div class="title" style="margin-top: 4px; "> 
                                 <a [hidden]="false" [routerLink]="routeInfo.path">                              
                                       <p>{{routeInfo.title}}</p>
                                 </a>
                               </div>
                               <div *ngIf="routeInfo.children">
                                 <div class="d-flex">
                                    <div class="d-container">
                                       <div>
                                          <button class="carret-icon" (click)="toggleCarretDown(i)">                                    
                                             <span *ngIf="i === openDropdown ">
                                                <i class="fa-solid fa-caret-up"></i>
                                             </span>
                                             <span *ngIf="i !== openDropdown ">
                                                <i class="fa-solid fa-caret-down"></i>
                                             </span>
                                          </button>                     
                                    </div> 
                                 </div>
                                 </div>
                              </div>
                            </div>  
                      </div>  
                   <div class="dropdown" *ngIf="i === openDropdown">
                     <div *ngIf="routeInfo.children">
                        <div class="d-container" *ngFor="let child of routeInfo.children">
                          <div class=" d-flex" style="width: 200px; padding: auto; display: inline;">
                             <div class="d-flex">
                              <a [routerLink]="child.path" >
                                    <div class="children">
                                        <i class="{{child.icon}}"></i> 
                                        <span class="child-title"> {{child.title}} </span>
                                    </div>
                                </a>
                             </div>
                          </div>
                        </div> 
                     </div>
             </div>              
              </div>
 
       </div>
    </div>
 </div>