<div *ngFor="let item of dropdownItems; let i = index">
    <button (click)="toggleDropdownIcon(i)">
        
     <span *ngIf="i === openDropdown ">
        <i class="fa-solid fa-caret-up"></i>
     </span>
     <span *ngIf="i !== openDropdown ">
        <i class="fa-solid fa-caret-down"></i>
     </span>
      {{ item.content }}
    </button>
    <div *ngIf="i === openDropdown">
      <ul *ngIf="item.children">
        <li *ngFor="let child of item.children">
          {{ child.path }}
        </li>
      </ul>
    </div>
  </div>