.header {
    height: 80vh;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6755077030812324) 35%, rgba(0,212,255,1) 100%);
}
.header .container {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    padding: 5px 20px;
}
.footer {
    height: 70vh;
    width: 100%;
    background-color: #F3F5FB;
}

header .card {
    width: 21%;
    height: 120px;
    background-color: rgb(255, 255, 252);
    display: flex;
    // align-items: center;
    justify-content: center;
    margin: 10px 20px;
}
.card .title {
    color: #adb5bd;
    font-weight: 600;
    font-size: 14px;
}
.card .subtitle {
    color: #172b4d;
    font-weight: 600;
    font-size: 18px;
}
.card .text {
    color: #adb5bd;
    // font-weight: 600;
    font-size: 14px;
    padding-top: 25px;
}
.card .container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    // background-color: aqua;
}

.chart .container {
    // background-color: red;
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart .card  {
    width: 90%;
    height: 90%;
    // background-color: grey;
}