<div class="main-container">
    <div class="header">
        <div class="view-admin-grid">
            <div class="container">
                <div class="card">
                    <div class="grid-header">
                        <div class="title">
                            <h6>Approved Drivers</h6>
                        </div>
                        <div class="search">
                            <div class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search"
                                [(ngModel)]="searchText"
                                (input)="applyFilter()"
                                >           
                            </div>
                            <button (click)="clear()" class="clr"><i class="fa-solid fa-arrows-rotate"></i></button> 
                        </div>
                        
                        <div class="export">
                            <button class="button" type="submit" 
                            label="submit"  (click)="exportExcel()">
                                Export
                             </button>
                        </div>
                    </div> 
                    <div>
                        <app-loader *ngIf="showLoader" [color]="loaderColor">
                        </app-loader>
                    <p-table *ngIf="!showLoader"
                        [value]="app_drivers"
                        [paginator]="true"
                        [rows]="10"
                        [showCurrentPageReport]="false"
                        [tableStyle]="{ 'min-width': '100rem' }"
                        currentPageReportTemplate=""
                        [rowsPerPageOptions]="[10, 25, 50]"
                    >
                        <ng-template pTemplate="header">
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ;">
                                <!-- CODE 	DRIVER NAME	CITY	VECHILE TYPE	EMAIL	PHONE	REGISTERED ON	WALLET	STATUS	ONLINE STATUS	LAST TRIP DATE 	ACTION	INACTIVE	NOTIFY -->
                                <th style="width:5%">CODE </th>
                                <th style="width:20%">DRIVER NAME </th>
                                <th style="width:15%">CITY </th>
                                <th style="width:5%">VEHICLE TYPE </th>
                                <th style="width:5%">EMAIL </th>
                                <th style="width:5%">PHONE </th>
                                <th style="width:20%">REGISTERED ON</th>
                                <th style="width:5%">WALLET </th>
                                <th style="width:5%">STATUS </th>
                                <th style="width:5%">ONLINE STATUS </th>
                                <th style="width:5%">LAST TRIP DATE </th>
                                <th style="width:5%">ACTION </th>     
                                <!-- <th style="width:5%">INACTIVE </th>     
                                <th style="width:5%">NOTIFY</th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-app_drivers>
                            <tr style="height: 3rem; border-color: #abb4ce80; border-top-width: 0.2px; border-bottom-width:0.2px ">
                                <td> DRV00{{ app_drivers.id }}</td>
                                <td>{{app_drivers.firstname}} {{app_drivers.lastname}}</td>
                                <td>
                                    <div *ngIf="app_drivers.city !== null">
                                        {{app_drivers.city}}
                                    </div>
                                    <div *ngIf="app_drivers.city === null">
                                        Not specified
                                    </div>
                                    <div *ngIf="app_drivers.city == '' ">
                                        Not specified
                                    </div>
                                </td>
                                <td>{{app_drivers.vehicle_type}}</td>
                                <td>{{app_drivers.email}}</td>
                                <td>{{app_drivers.phone_no}}</td>
                                <td>{{app_drivers.created_at  | date:'short':'UTC'  }}</td>
                                <td>{{app_drivers.balance}}</td>
                                <td>
                                    <div *ngIf="app_drivers.driver_status == 1">
                                        <span>
                                            Approved
                                        </span>
                                    </div>
                                    <div *ngIf="app_drivers.driver_status == 0">
                                        <span>
                                            UnApproved
                                        </span>
                                    </div>

                                </td>
                                <td>
                                    <div *ngIf="app_drivers.current_status !== '0' ">
                                        <span>
                                            On
                                        </span>
                                    </div>
                                    <div *ngIf="app_drivers.current_status == '0' ">
                                        <span>
                                            Off
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    {{app_drivers.last_tripDate  | date:'short':'UTC'}}
                                    <div *ngIf="app_drivers.last_tripDate == null">
                                        not recorded
                                    </div>
                                </td>
                                <td class="action">
                                    <span class="edit">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                           <a routerLink="/drivers/{{app_drivers.id}}/edit">
                                            <button pButton pRipple type="button" icon="fa-solid fa-pencil" class="p-button-rounded p-button-text"></button>
                                           </a>
                                        </div>
                                    </span>
                                </td>
                                <!-- <td>
                                    <div class="d-flex justify-content-center ">
                                         <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                                    </div>  
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center ">
                                         <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                                    </div>  
                                </td> -->
                            </tr>
                        </ng-template>
                        
                            <ng-template pTemplate="paginatorleft">
                                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
                            </ng-template>
                        </p-table>  
                    </div>
                </div>
            </div>    
        </div>
    </div>
       
    <div class="footer"></div>
</div>